/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(238, 231, 231);

}

/*MENU*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(235, 187, 28);
    font-family: 'Comfortaa';
    height: 17vh;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

header ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    background-color:rgb(216, 13, 13);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100px;
    height: 30px;
    text-align: center;
}

header ul li:hover{
    margin: 0px 20px;
    background-color:rgb(27, 29, 131);
    padding: 5px;
    border-radius: 5px;
}

header ul li a{
    text-decoration: none;
    color: white;
}

header img{
    width: 110px;
    margin: 0px 20px;
}

header .icons-header i{
    font-size: 27px;
    margin: 5px;
    color: rgb(187, 39, 39);
    transition: all 0.3s ease;
}

header .icons-header i:hover{
    font-size: 27px;
    margin: 5px;
    /*color: rgb(27, 29, 131);*/
    opacity: 0.8;
}

.icon-menu{
    cursor: pointer;
    display: none;
}

.icon-menu div{
    width: 32px;
    height: 2px;
    background-color: rgb(187, 39, 39);
    margin: 8px;
}

/*TÍTULOS DE MAIS PEDIDOS*/
h1{
    font-family: 'Comfortaa';
    text-align: center;
    color: rgb(37, 37, 43);
    margin-top: 50px;
}

/*CARDS DOS MAIS PEDIDOS*/
.box-cards{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
}

.cards{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-family: 'Montserrat';
    height: 380px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 8px 0px;
}

.cards img{
    width:270px;
}

.cards a{
    background-color: rgb(216, 13, 13);
    color: white;
    width: 100px;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.cards a:hover{
    background-color: rgba(206, 23, 23, 0.884);
}


/*MENU RESPONSIVIDADE*/
@media(max-width:999px){
    header{
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        margin-top: -50px;
    }

    .cards img{
        width:260px;
    }

    h1{
        font-size: 27px;
    }

    .cards{
        height:370px;

    }

    body{
        overflow-x: hidden;
    }

    header ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 17vh;
        right: 0;
        width: 45vw;
        height: 83vh;
        background-color:rgb(28, 235, 38);
        transform: translateY(-120%);
        transition: all 0.3s ease-in;
    }

    header ul li{
        opacity: 0;
    }

    header .icons-header{
        display: none;
    }

    .icon-menu{
        display: block;
    }
}

header ul.active{
    transform: translateX(0);
}

@keyframes headerLiFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }to{
        opacity:1;
        transform: translateX(0px);
    }
}

.icon-menu div{
    transition: all 0.3s ease;
}

.icon-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.icon-menu.active .line2{
    opacity:0;
}

.icon-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}